* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #615dad, #ffc8da);
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: sans-serif;
}


.uvod {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

.uvod img {
    width: 90%;
    margin-top: 10%;
    border-radius: 4% 4% 0 0;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding-block: 1rem;
}

.text {
    background-color: #283e50;
    text-align: center;
}

.text p {
    padding-inline: 10px;
    margin: 0;
    margin-bottom: 21px;
}

.pravidla {
    background-color: #1fcca4;
    border: none;
}

.pravidla:hover {
    background-color: #1cbb96;
}

.hra {
    background-color: #0197f6;
    margin-bottom: 5%;
    border: none;
    border-top: 1px solid #283e50;
}

.hra:hover {
    background-color: #0090e9;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vmin;
    height: 90vh;

}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 6px;
}

.null {
    flex-grow: 2;
    background-color: transparent;
}

nav button {
    border: none;
    border-radius: 10%;
    padding: 6px;
}

.home {
    background-color: #0197f6; 
    margin-right: 6px;
}

.restart {
    background-color: #1fcca4;
}

.player {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-right: 6px;
}
.game-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    
}
.game-cell {
    width: calc(100%/10);
    height: calc(100%/10);
    display: flex;
    background-color: rgba(240, 240, 240, 0.5);
    border-width: 1px;
}