* {
    box-sizing: border-box;
}
/*stylování pozadí*/
body {
    background: linear-gradient(to bottom, #615dad, #ffc8da);
    background-repeat: no-repeat;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: sans-serif;
}

/*stylování obsahu na úvodní straně*/
.uvod {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 400px;
}

.uvod img {
    width: 90%;
    border-radius: 4% 4% 0 0;
}

h1 {
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
}

.uvod a {
    color: #ffffff;
    text-decoration: none;
    padding-block: 1rem;
}

.text {
    background-color: #283e50;
    text-align: center;
}

.text p {
    padding-inline: 10px;
    margin: 0;
    margin-bottom: 21px;
}

/*stylování tlačítek na úvodu*/
.pravidla {
    background-color: #1fcca4;
    border: none;
}

.pravidla:hover,
.pravidla:focus {
    background-color: #1cbb96; 
    cursor: pointer; 
}

.hra {
    background-color: #0197f6;
    margin-bottom: 5%;
    border: none;
    border-top: 1px solid #283e50;
}

.hra:hover,
.hra:focus {
    background-color: #0090e9;
}

/*stylování strany s hracím polem*/
.game {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 80vmin;
}

.game h1 {
    font-size: 4rem;
    margin: 0;
    width: 100%;
    text-align: center;
    flex-shrink: 0;
}

/*stylování tlačítek nad hracím polem*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block: 10px;
}

.left-side {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
}

.home {
    background-color: #1fcca4;
    margin-right: 6px;
    border-radius: 10%;
    padding: 6px;
}

.home:hover,
.home:focus {
    background-color: #1cbb96;
    cursor: pointer;
}

.restart {
    background-color: #0197f6;
    border-radius: 10%;
    padding: 6px;
}

.restart:hover,
.restart:focus  {
    background-color: #0090e9;
    cursor: pointer;
}

.player {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 10px;
}

.circle {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid white;
    border-radius: 50%;
}

/*stylování hracího pole*/
.game-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 5%;
}

.game-cell {
    width: calc(100%/10);
    background-color: rgba(240, 240, 240, 0.5);
    border-width: 1px;
    aspect-ratio: 1 / 1;
}

.game-cell:hover,
.game-cell:focus  {
    background-color: rgba(240, 240, 240, 0.772);
    cursor: pointer;
}

/*stylování pro Javascript*/
.board_field--cross  {
    background-image: url("podklady/cross-black.svg");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

.board_field--circle  {
    background-image: url("podklady/circle-black.svg");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
}

