
body{
    background: linear-gradient(to bottom, #615dad, #ffc8da);
    height: 100vh;
    width: 100vw;
}

.uvod {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    color:#ffffff;
    font-family: sans-serif;
    margin-inline: 30%;
}
  
img {
    width: 50vw;
    margin-top: 10%;
}

h1 {
    font-family:  "Lobster", sans-serif;
    font-weight: lighter;
}

a {
    color:#ffffff ;
    text-decoration: none;
    padding-block: 1rem;
}

.text {
    background-color: #283e50;
    text-align: center;
    }

.text p {
    padding-inline: 10px;
    margin: 0;
    margin-bottom: 21px;
} 

.pravidla {
    background-color: #1fcca4;
    border-bottom:1px solid #283e50;
}

.pravidla:hover {
    background-color: #1cbb96;
}

.hra {
    background-color: #0197f6;
}

.hra:hover {
    background-color: #0090e9;
}